---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHub from "../icons/GitHub.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import Briefcase from "../icons/Briefcase.astro";
import Experince from "../components/Experince.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Code from "../icons/Code.astro";
---

<Layout title="Portfolio de JuanK - Desarrollador y Programador Web">
	<main class="px-4">
		<SectionContainer class="py-44 pb-24" id="sobre-mi">
			<h1
				class="text-withe text-2xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-2 lg:pb-6"
			>
				Hey! Soy Juan
				<a
					class="flex justify-center items-center"
					href="https://www.linkedin.com/in/juan-camilo-ocampo-gomez-309318180/"
				>
					<Badge>Open to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
				Fullstack Developer with 2 years of experience, working with frameworks
				like .net and Angular.
			</h2>

			<nav class="flex gap-2 mt-6 flex-wrap">
				<SocialPill href="https://github.com/juankmanca">
					<GitHub class="size-4 md:size-6" />
					GitHub
				</SocialPill>
				<SocialPill
					href="https://www.linkedin.com/in/juan-camilo-ocampo-gomez-309318180/"
				>
					<LinkedIn class="size-4 md:size-6" />
					LinkedIn
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiancia Laboral
			</h2>
			<Experince />
		</SectionContainer>
		<SectionContainer id="proyectos">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<Code class="size-7" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
