---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Diciembre 2023",
    title: "Desarrollador Junior .Net",
    description:
      "Desarrollé múltiples soluciones integrales para clientes utilizando el framework de .NET, creando aplicaciones web con Blazor y .NET Core. Además, me especialicé en el diseño, desarrollo y despliegue de aplicaciones de escritorio utilizando .NET Framework."
  },
  {
    date: "Noviembre 2022",
    title: "Desarrollador Jr",
    description:
      "Como parte de mi experiencia laboral, lideré el desarrollo móvil de una aplicación centrada en la trazabilidad, registro e inspección de contenedores de exportación. Además, contribuí al desarrollo web al construir un módulo que se integraba con la aplicación móvil, facilitando un control de inventario de mercancías y asegurando la trazabilidad de los contenedores, así como el seguimiento de sus interacciones previas a la exportación.",
  }
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
