<header class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto">
  <img class="rounded-full size-6" src="./images/Perfil.jpg" alt="Logo" />
  <nav class="flex flex-row gap-x-10">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
